@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --background-color: #101525;
}

body {
    background-color: var(--background-color);
    height: 100vh;
}