@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --background-color: #101525;
}

body {
    background-color: var(--background-color);
    height: 100vh;
}

.scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
  
  .scroll-container > * {
    scroll-snap-align: start;
    height: 100vh;
  }